*{
    background-color: #010409;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
header {
    background-color: #0d1117;
}
.head{
    /* border: 2px solid ; */
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}
.menu {
    background-color: #0d1117;
}
.menu a {
    font-family: sans-serif;
    background-color: #0d1117;
    text-decoration: none;
    font-size: 1.4rem;
}
.dropdown {
    background-color: #0d1117;
    position: relative;
}
.nav-links a {
    background-color: #010409;
}
.dropdown-menu {
    position: absolute;
    width: 350px;
    left: 0;
    top: calc(100% + 1rem);
    background-color: #010409;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 10px 4px 15px -1px rgba(0,0,0,0.75);
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: all;
    transition: opacity 200ms ease-in-out, transform 200ms  ease-in-out;
}
.dropdown-menu .nav-links a {
    display: block;
    padding: 20px 30px;
}
.dropdown-menu .nav-links a:hover {
    border: 3px solid #2ea043;
    border-radius: 30px;
    background-color: #0d1117;
}
.dropdown.active > .link + .dropdown-menu {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}


.menu i {
    background-color: #0d1117;
    border-radius: 12px;
    transition: 0.4s ease;
}



.search-box {
    border: 3px solid #fff;
    background-color: #010409;
    padding: 5px;
    border-radius: 30px;
    position: relative;
    margin-left: 30px;
}
.search-box i {
    background-color: #010409;

}

.element-cont{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search {
    border: none;
    height: 100%;
    width: 560px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}
.search:focus {
    outline: none;
}
.searchbox i {
    cursor: pointer;
}

.user img {
    padding: 3px;
    width: 40px;
    background-color: #0d1117;
    border-radius: 50%;
}
button, i {
    cursor: pointer;
    background-color: #0d1117;
    border: none;
}
.notify{
    background-color: #0d1117;
    /* margin-right: 10px; */
}
.notify button {
    padding-left: 40px;
}


/* FEED SECTION  */

main {
    margin-top: 2rem;
}

.feed-section{
    display: flex;
    justify-content: space-between;
}
.feed-section h2 {
    font-size: 25px;
}
/* RECENT PROJECT SECTION  */
.project-log {
    border-radius: 20px;
    width: 23%;
    height: 650px;
    border: 1px solid;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    background-color: #0d1117;
    overflow: hidden;
}
.project-log h3 {
    background-color: #0d1117;
}
.txt-contain{
    background-color: #0d1117;
    padding: 32px;
}
.txt-contain h4, h2, p{
    background-color: #0d1117;
}
.text-contain  p{
    text-align: center;
}
.new-btn{
    background-color: #0d1117;
}
.new-btn button {
    border: 2px solid #238636;
    background-color: #238636;
    padding: 6px 14px;
    border-radius: 10px;
    transition: 0.4s ease;
}
.new-btn button i {
    margin-right: 5px;
    background-color: #238636;
    transition: 0.4s ease;
}
.new-btn button:hover, 
.new-btn button i:hover {
    background-color:  #2ea043;
    border: 2px solid #2ea043;
}
.new-btn button:hover {
    box-shadow: 10px 11px 26px -7px rgba(46,160,67,0.6);
}

/* DISCUSS PANEL   */
.problem-panel{
    border-radius: 10px; 
    width: 58%;
    /* border: 1px solid; */
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
}
.discuss-panel {
    padding: 24px;
    text-align: start;
    font-size: 20px;
}
.discuss-panel h1 {
    padding-top: -12px;
}
.discuss-panel p {
    background-color: #010409;
    padding-top: 8px;
    color: #c9d1d9;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* CARDS SECTION  */
.card-services{
    /* border: 1px solid; */
    margin-top: 2rem;
    display: flex;
    column-gap: 20px;
}
.card-container {
    width: 50%;
    border: 1px solid;
    float: left;
    padding: 10px;
    border-radius: 10px;
    background-color: #0d1117;
}
.card-team {
    text-align: center;
    background-color: #0d1117;

}
.card-team h3{
    background-color: #0d1117;
    /* padding-bottom: 8px; */
    font-size: 16px;
}
.card-team p {
    font-size: 12px;
    background-color: #0d1117;
    padding-bottom: 8px;
}
.btns {
    background-color: #0d1117;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.btns button {
    border: 2px solid #238636;
    background-color: #238636;
    padding: 6px 14px;
    border-radius: 10px;
    transition: 0.4s ease;
}
.btns button:hover {
    background-color:  #2ea043;
    box-shadow: 10px 11px 26px -7px rgba(46,160,67,0.6);
}
.card-job{
    background-color: #0d1117;
    text-align: center;
}
.card-job h3 {
    background-color: #0d1117;
    font-size: 16px;
}
.card-job p {
    background-color: #0d1117;
    padding-bottom: 8px;
    font-size: 12px;
}




/* DISCUSS PANEL  */
.problem-discuss {
    margin-top: 3rem;
}
.img {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.img h3{
    padding-left: 12px;
}
.img img {
    border-radius: 50%;
    width: 32px;
    cursor: pointer;

}
.img i {
    background-color: #010409;
    padding-left: 420px;
    font-size: 20px;
    cursor: pointer;
}
.text-contain {
    background-color: #0d1117;
    border: 2px solid;  
    border-radius: 10px;
}
.text-contain img {
    width: 550px;
}
.text-contain p{
    text-align: start;
}
.problems {
    background-color: #0d1117;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.prblm-stmt {
    background-color: #0d1117;
    margin: 10px;
}
.prblm-stmt h3{
    background-color: #0d1117;
}
.prblm-stmt p{
    background-color: #0d1117;
}

.public {
    overflow: hidden;
    border: 1px solid;
    padding: 12px;
    border-radius: 10px 10px 10px 10px;
}
.comment-box {
    border: none;
    width: 100%;
    margin-left: 20px;
}
.comment-box:focus {
    outline: none;
}






.addons{
    border-radius: 10px;
    width: 20%;
    height: 590px;
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
    padding: 8px;

}
.add-cnt {
    border-radius: 10px;
    background-color: #0d1117;
    border: 1px solid;
    margin-bottom: 30px;
    padding: 30px 10px;
}
.add-card h3 {
    background-color: #0d1117;
    font-size: 16px;
}
.add-card p{
    padding-top: 8px;
    font-size: 13px;
    line-height: 21px;
}
.add-card img {
    width: 170px;
    padding-bottom: 10px;
    background-color: #0d1117;
    border-radius: 50%;
}
.logo {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
}
